<div class="container">
  <div class="box toolbar">
    <ul class="box toolbar-list">
      <li class="list-btn"><button class="fa fa-times btn cancel"></button></li>
      <li class="list-btn"><button class="fa fa-check btn check"></button></li>
      <li class="list-btn"><button ng-click="showCrop()" class="fa fa-crop btn crop"></button></li>
    </ul>
    <button class="fa fa-folder-open open-btn" ng-click="openDialoge()">Open</button>
    <!-- <div class="cropbutton">></div>
    <div class="cropbutton"><</div>
    <div class="cropbutton">original</div> -->
  </div>
  <div class="wrap-image">
    <img />    
  </div>
<input type="file" custom-on-change />
<canvas id="canvas" width="300" height="300"></canvas>
</div>
